.App {
  background-image: url(comic-background.png);
}

footer {
  text-align: center;
  margin: 10px;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  padding: 5px;
  color: #fff;
}

a:hover {
  color: #2d4059;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}